.h1 {
  font-weight: 700;
  font-size: 26px;
  color: #fff;
}

.price {
  margin-top: 5px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  opacity: 0.9;
}

.table {
  width: 100%;
  margin-top: 7px;
  border-spacing: 0 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #fff;
}

.table__price {
  font-weight: 700;
  text-align: end;
}

.description {
  margin-top: 7px;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  color: #fff;
}

body * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.content {
  width: 320px;
  height: 512px;
  margin: 24px auto;
  padding: 68px 18px 0px 20px;
  color: #000000;
  background-image: url(./img/backround.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.inner {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 24px;
  padding: 20px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.16);
}